body{
    
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: green;
    
}

h1{
    padding-top: 10px;
    font-family:'Times New Roman', Times, serif;
    color: aquamarine;
}
#dealer-cards img{
    height: 150px;
    width: 100px;
    margin: 1px;
    
}
#your-cards img{
    height: 150px;
    width: 100px;
    margin: 1px;    
}
#hit{
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: greenyellow;
    cursor: pointer;
    border-radius: 25px;
    color:brown;
    
    
}
#hit:hover{
    background-color: yellowgreen;
}

#stay{
    width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: red;
    cursor: pointer;
    border-radius: 25px;
    color: aquamarine;
   
}

#stay:hover{
    background-color: darkred;
    
}

#results{
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: blue;
}

#results-1{
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    color: purple;

}
.game{
    display:flex;
    flex-direction:flex-end;

    padding-left: 50px;
    padding-top: 20px;
    height: 100px;
    background-color: purple;
    justify-items: flex-end;
    justify-content: space-around;
    align-items: center;
    
    
    
}

#reset{
    width: 100px;
    height: 50px;
    background-color: aqua;
    cursor: pointer;
    border-radius: 25px;
    
}

#reset:hover{
    background-color: deepskyblue;
}

#rules{
    width: 100px;
    height: 50px;
    background-color:pink;
    cursor: pointer;
    border-radius: 25px;
    transition: all .3s ease;
    
    
}

.rules:hover{
    background-color: deeppink;
}

/* #game-rules{
    
        padding: 30px 20px 20px 20px;
    	margin: 20px auto 30px auto;
        text-align: left;
        display: none; 
        background: #0F2725;
        position: absolute;
        top: 55px;
        right: 0;
        width: 100%;
        z-index: 99;
        font-size: .75em;    } */

.modal {
    background-color:beige;
    position: absolute;
    top: 0;
    /* bottom: 10; */
    height: 100%;
    width: 100%;
    display: flex;
    max-width: 150ch;
    font-size: medium;
    padding: 1em;
    
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
    /* opacity: 0; */
    /* z-index: 99; */
    transition: all .5s ease-in-out;
}

.modal_contents{
    color:brown;
    padding:1fr;
    margin: 200px;
    font-size:xx-large
    

}

.modal--hidden{
    display: none;
}

.close-modal{
    background-color: khaki;
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    width: 75px;
    height: 50px;
    font-size: medium;

}

.close-modal:hover{
    background-color: aquamarine;
}

.game-board{
    display: flex;
    flex-direction:column;
    justify-content: center;
    flex-wrap: nowrap;
    align-content: center;
    
}

#command {
    font-family: 'Vujahday Script', cursive;
    font-weight: 600;
    font-size: 2rem;
    word-spacing: 1rem;
    animation: blinker 2s step-start infinite;
}
@keyframes blinker {
    25% {
      opacity: 0;
    }
}

table, th, td{
    padding: .5rem;
    border: solid 2px black;
    font-size: 1rem;
    font-family: 'Teko', sans-serif;
    font-weight: 600;
    padding-left: 3rem;
    padding-right: 3rem;
}

table{
    margin: auto;
    margin-bottom: 5rem;
    border: 0;
}














/* .modal { 
	padding: 40px 0 !important;
	width: 75% !important; 
	height: 75% !important;
	opacity: .90 !important;
	overflow: hidden !important;
	max-height: 100% !important;
} 
.modal-content h4, .modal-content p {
	color: black;
}
.modal-body {
	max-height: 600px;
} */